include README.md
include LICENSE
recursive-include multiroma *.py
recursive-include multiroma/genesets *.gmt
recursive-include multiroma/datasets *.h5mu *.tsv *.csv
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store